.nav-custom{
	color: #ffffff;
	padding: 30px;
}

#intro{
	padding: 30px;
}

.good .card{
	display: inline-block;
}

.card{
	margin:5px;
}

.card-body{
	text-align: center;
}

div .card{
	display: inline-block;
}

.list-products{
	text-align: center;
}

