{{#section 'css'}}
<link rel="stylesheet" href="jquery.datetimepicker.min.css" />
{{/section}}

{{#section 'js'}}
  <script
    src="jquery.datetimepicker.full.min.js"></script>
  
  <script>
    $('#txtDOB').datetimepicker({
      timepicker: false,
      datetimepicker: true,
      format: 'd/m/Y',
      value: '1/1/2019'
    });

    function validate() { //kiểm tra hợp lệ thông tin
      return true;
    }
  </script>
{{/section}}

<div class="card shadow mb-4">
  <h4 class="card-header">
    Đăng ký thành viên
  </h4>
  <div class="card-body">
    <form onsubmit="return validate();" method="POST" novalidate id="frmRegister" name="frmRegister">
      <div class="row">
          <div class="m-2">
                <h5 class="mb-3">Account</h5>
                <div class="form-group">
                  <label for="txtUsername">Username</label>
                  <input type="text" class="form-control" id="txtUsername" name="ten_dang_nhap" placeholder="john" autofocus>
                </div>
                <div class="form-group">
                  <label for="txtPassword">Password</label>
                  <input type="password" class="form-control" id="txtPassword" name="raw_password">
                </div>
                <div class="form-group">
                  <label for="txtConfirm">Confirm</label>
                  <input type="password" class="form-control" id="txtConfirm">
                </div>
          </div>

          <div class="m-2">
              <h5 class="mb-3">Information</h5>
              <div class="form-group">
                <label for="txtName">Name</label>
                <input type="text" class="form-control" id="txtName" name="ten" placeholder="John Witch">
              </div>
              <div class="form-group">
                <label for="txtEmail">Email</label>
                <input type="text" class="form-control" id="txtEmail" name="email" placeholder="jw@movie.db">
              </div>
              <div class="form-group">
                <label for="txtDOB">Date of Birth</label>
                <input type="text" class="form-control" id="txtDOB" name="dob">
              </div>
          </div>
      </div>

      <button type="submit" class="btn btn-outline-success" data-toggle="modal" data-target="bd-example-modal-sm">
        <i class="fa fa-check" aria-hidden="true"></i>
        Xác nhận
      </button>

      <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
              Chúc mừng bạn đã đăng ký thành công!
          </div>
        </div>
      </div>
    </form>
  </div>
</div>